* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #0b0f0d;
}

.btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 48px;
  background-color: #62f59a;
  color: #07100a;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
}
.btn:hover {
  background-color: #87ffb3;
}
.btn:focus {
  background-color: #62f59a;
  border: 1px solid #f2f7f4;
}
.btn:disabled {
  background-color: #1e2924;
  color: #6d7d74;
}

/* HEADER */
.header {
  padding: 12px 24px;
  border-bottom: 1px solid #283630;
  border-radius: 0 0 18px 18px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.header__title {
  color: #f2f7f4;
  font-family: "Space grotesk";
  font-size: 18px;
  font-weight: 700;
}
.header__text {
  color: #6d7d74;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 550;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
}

.hero {
  max-width: 1200px;
  display: flex;
  margin-top: 40px;
  border-radius: 32px;
  border: 1px solid #283630;
}

.hero__card {
  padding: 37px 16px 30px 48px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero__subtitle {
  color: #62f59a;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 750;
}
.hero__title {
  font-family: "Space grotesk";
  font-size: 50px;
  font-weight: 680;
  color: #f2f7f4;
}
.hero__text {
  max-width: 490px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #a4b3aa;
}

.hero__buttons {
  display: flex;
  gap: 12px;
}

.hero__stats {
  display: flex;
  gap: 18px;
}
.hero__stat {
  display: flex;
  flex-direction: column;
}
.hero__stat-title {
  color: #f2f7f4;
  font-family: "Space grotesk";
  font-size: 18px;
  font-weight: 700;
}
.hero__stat-text {
  color: #6d7d74;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 550;
}

.hero__logos {
  width: 640px;
  height: 420px;
  background-image: url("./img/main-header-logo.png");
  background-size: cover;
  background-size: 137%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 24px 24px 0;
}

.events {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.events__header {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}
.event__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.event__header-title {
  color: #f2f7f4;
  font-family: "Space grotesk";
  font-size: 36px;
  font-weight: 680;
}
.event__header-text {
  color: #6d7d74;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
}
.event__stat {
  align-self: flex-end;
}
.event__stat-title {
  color: #a4b3aa;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 650;
}

.events__main {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: white;
  margin-top: 24px;
}
.ivents__cards {
  width: 792px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.ivent__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #111714;
  border: 1px solid #283630;
  border-radius: 18px;
  max-width: 388px;
  padding: 22px;
}
.ivent__dates {
  display: flex;
  justify-content: space-between;
}
.ivent__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #173d2a;
  border-radius: 8px;
  width: 64px;
  height: 64px;
}
.ivent__date-num {
  color: #62f59a;
  font-family: "Space grotesk";
  font-size: 26px;
  font-weight: 700;
}
.ivent__date-month {
  color: #62f59a;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 750;
}
.ivent__start {
  width: 123px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: #173d2a;
  border-radius: 10px;
}
.ivent__start-img {
  max-width: 14px;
  max-height: 14px;
}
.ivent__start-text {
  color: #62f59a;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 700;
}

.ivent__title {
  color: #f2f7f4;
  font-family: "Space grotesk";
  font-size: 21px;
  font-weight: 650;
}
.ivent__text {
  color: #a4b3aa;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
}

.ivent__level {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ivent__level-logo {
  max-width: 16px;
  max-height: 16px;
}
.ivent__level-title {
  color: #f2f7f4;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 650;
}
.ivent__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #173d2a;
  border-radius: 10px;
  width: 81px;
  height: 28px;
}
.ivent__logos-logo {
  max-width: 14px;
  max-height: 14px;
}
.ivent__logos-text {
  color: #62f59a;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 700;
}
.ivent__adres {
  display: flex;
  gap: 7px;
}
.ivent__adress-img {
  max-width: 16px;
  max-height: 16px;
}

.ivents__add {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #111714;
  border: 1px solid #283630;
  border-radius: 24px;
  padding: 24px;
}
.addroute {
  display: flex;
  flex-direction: column;
}
.addroute__card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addroute__add {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #173d2a;
  border-radius: 12px;
}
.addroute__add-plus {
  color: #62f59a;
}
.addroute__card-title {
  color: #f2f7f4;
  font-family: "Space grotesk";
  font-size: 22px;
  font-weight: 680;
}
.addroute__text {
  color: #a4b3aa;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
}
.inter650 {
  color: #f2f7f4;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 650;
}
.inter500 {
  color: #6d7d74;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
}
.input__dark{
  width: 336px;
  background-color: #18211d;
  color: #6d7d74;
  border: 1px solid #3a4d43;
  border-radius: 12px;
  padding: 14px;
}
.nameroute{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info__route{
  display: flex;
  gap: 12px;
}
.date__route{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.distance__route{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input__white{
  width: 162px;
  height: 48px;
  background-color: #18211d;
  border: 1px solid #3a4d43;
  border-radius: 12px;
  color: #f2f7f4;
  padding: 15px;
}
.level__route{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.level__cards{
  display: flex;
  gap: 8px;
}
.level__card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 107px;
  height: 48px;
  background-color: #18211d;
  border: 1px solid #3a4d43;
  border-radius: 12px;
  color: #a4b3aa;
  font-size: 12px;
  font-weight: 650;
}
.level__card-img{
  width: 17px;
  height: 17px;
}
.point__route{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discription__route{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.discription__route-input{
  width: 336px;
  height: 112px;
  background-color: #18211d;
  border: 1px solid #3a4d43;
  border-radius: 12px;
  color: #f2f7f4;
  font-size: 15px;
  font-weight: 400;
}
.btn__route{
  display: flex;
  gap: 10px;
}
.btn__del{
  background-color: #1e2924;
  color: #f2f7f4;
}
.route__info{
  display: flex;
  gap: 8px;
  background-color: #0b0f0d;
  border-radius: 12px;
  color: #6d7d74;
  font-size: 11px;
  font-weight: 400;
  padding: 12px;
}